/.idea
/src/__pycache__
/src/logs
lib/checkpoints/eegpt_mcae_58chs_4s_large4E.ckpt
/src/C-/Users/ajrbe/mne_data
/src/core/generic_eegpt_model_lib/__pycache__
/src/record_data/lab_recorder
/src/run_models/__pycache__
/src/train_new_eegpt_models/datasets/__pycache__
/src/core/__pycache__
__pycache__/

/lib/dsi2lsl
/src/testing
/src/train_new_eegpt_models/C-
/dist
